#header {
    position: sticky;
    width: 100%;
    right: 0;
    top: 0;
    margin-bottom: 1em;
}

#container-header {
    background-color: rgb(23, 22, 22);
    color: azure;
    text-align: center;
    padding: 2em;
}

#container-footer {
    background-color: rgb(23, 22, 22);
    color: azure;
    display: flex;
    justify-content: space-between;
}

#container-footer p {
    padding: 2em;
}

#container-btns{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

#top{
    text-align: center;
}
.btn{
    margin: 1em;
    background-color: green;
    padding: 0.3em 1em;
    border-radius: 5px;
}

.btn:hover{
    opacity: .8;
    transition: 0.5s;
    cursor: pointer;
}